<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${#dates.createNow()}"></h1>
<a href="/login">Login</a>
</body>
<script>
    (function () {
        XMLHttpRequest.prototype.open = (function(open) {
            return function(method,url,async) {
                open.apply(this,arguments);
                this.setRequestHeader('customHeader1', 'someValue');
                this.setRequestHeader('customHeader2', 'someOtherValue');
            };
        })(XMLHttpRequest.prototype.open);
    })()
</script>
</html>